@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Pixelify+Sans:wght@500&display=swap');
*{
    text-align: center;
}
h1{
    font-family: 'Lilita One', sans-serif;
    font-size: 60px;
}
button{
    font-family: 'Lilita One', sans-serif;

    width: 200px;
    height: 200px;
    font-size: xx-large;
    color: #A56FFB;
}
button:hover{
        transform:  scale(1.3);
        color: aliceblue;
        background-color: #A56FFB;
		border-radius: 0;
        transition-duration: 0.2s;        transition-timing-function: linear;

}