@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Pixelify+Sans:wght@500&display=swap');
.bodyB {
    background-image: url('/img/3398604.jpg');
    background-size: 100%;
  }

.imgB {
    width: 250px;
    position: relative;
}

*{
    text-align: center;
}

.h1B{
    font-family: 'Lilita One', sans-serif;
    font-size: 60px;
    color: white;
}

.footerB {
    position: absolute;
    bottom: 0;
    width: 99%;
    text-align: center;
    color: white;
}

.svg-wrapper {
    margin-top: 0;
    position: relative;
    width: 150px;
    height: 40px;
    display: inline-block;
    border-radius: 3px;
    margin-top: 100px;
  }

  #shape {
    stroke-width: 6px;
    fill: transparent;
    stroke: #009FFD;
    stroke-dasharray: 85 400;
    stroke-dashoffset: -220;
    transition: 1s all ease;
  }

  #text {
    margin-top: -35px;
    text-align: center;
    font-size: x-large;
  }
  
  #text a {
    color: white;
    text-decoration: none;
    font-weight: 100;
    font-size: 1.1em;
  }

  .svg-wrapper:hover #shape {
    stroke-dasharray: 50 0;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke: #06D6A0;
  }

table {
    border: 2px solid;
    width: 200px;
    height: 250px;
    border-radius: 5px;
    float: left;
    margin: 3px;
    background-color: rgb(88, 87, 87);
}
body{
    background-image: url(/img/bg-page.jpg-data.jpg);
    background-position: center center;
    background-size: 100%;
    background-repeat: repeat-y;

}
th {
    border: 2px solid;
    border-radius: 5px;
    background-color: #E0D5F1;
}

tr th:hover {
    background-color: #E0D5F1;
}

tr:hover th {
    background-color: #A773FB;
}

tr:active th{
    background-color: #A773FB;
}
.highlighted-row th {
    background-color: #A773FB;
}

#selectedGrupInfo {
    margin-top: 25px;
    margin-left: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    clear: left;
    width: 150px;
    float: left;
}

#GrupsBotons {
    float: left;
    width: 400px;
    text-align: center;
    margin-top: 15px;
    margin-left: 20px;
}

.miBoton {
    border: none; 
    color: white; 
    padding: 14px 28px;
    margin: 5px; 
    cursor: pointer; 
    border-radius: 5px; 
    background-color: #e7e7e7; color: black;
    max-width: 90px;
  }


.miBoton:hover {
    background: #A56FFB;
    color: white;
}

img {
    width: 300px;
    margin-bottom: 30px;
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background: linear-gradient(to right, #eee, #A56FFB);
    border-radius: 7px;
  }

  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }

  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }

  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }

  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  footer{
    position: fixed;
    bottom: 0;
    width: 99%;
    text-align: center;
  }