table {
    border: 2px solid;
    width: 200px;
    height: 250px;
    border-radius: 5px;
    float: left;
    margin: 3px;
    background-color: rgb(88, 87, 87);
}

th {
    border: 2px solid;
    border-radius: 5px;
    background-color: antiquewhite;
}

tr th:hover {
    background-color: rgb(237, 185, 117);
}

tr:hover th {
    background-color: rgb(237, 185, 117);
}
#selectedGrupInfo {
    margin-left: 20px; /* Añade un margen a la izquierda para separarlo de las tablas */
    padding: 10px; /* Añade un relleno interno para que el contenido no esté pegado a los bordes */
    border: 1px solid #ccc; /* Opcional: añade un borde alrededor del contenedor para definirlo mejor */
    background-color: #f5f5f5; /* Opcional: añade un color de fondo para diferenciar el contenedor */
    float: left; /* Asegura que el contenedor flote a la izquierda, junto a las tablas */
}